<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>SitePhotographer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContactPage</display-name>
    <servlet-name>ContactPage</servlet-name>
    <servlet-class>routing.ContactPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactPage</servlet-name>
    <url-pattern>/ContactPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GalleryPage</display-name>
    <servlet-name>GalleryPage</servlet-name>
    <servlet-class>routing.GalleryPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GalleryPage</servlet-name>
    <url-pattern>/GalleryPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BiographyPage</display-name>
    <servlet-name>BiographyPage</servlet-name>
    <servlet-class>routing.BiographyPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BiographyPage</servlet-name>
    <url-pattern>/BiographyPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPhoto</display-name>
    <servlet-name>UploadPhoto</servlet-name>
    <servlet-class>routing.UploadPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPhoto</servlet-name>
    <url-pattern>/UploadPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavePhoto</display-name>
    <servlet-name>SavePhoto</servlet-name>
    <servlet-class>upload.SavePhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePhoto</servlet-name>
    <url-pattern>/SavePhoto</url-pattern>
  </servlet-mapping>
  

  
</web-app>